* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Grey: #49566d;
  --Cream: #f3ede7;
  --Cream-White: #faf8f6;
  --Dark-Blue: #172339;
}

.text-XL {
  color: var(--Dark-Blue);
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.08;
  letter-spacing: -1px;

  &--bold {
    @extend .text-XL;
    font-weight: 700;
  }

  @media screen and (max-width: 900px) {
    font-size: 3.5rem;
  }

  @media screen and (max-width: 550px) {
    font-size: 2.3rem;
  }
}

.text-L {
  color: var(--Dark-Blue);
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.5px;

  &--bold {
    @extend .text-L;
    font-weight: 700;
  }

  @media screen and (max-width: 900px) {
    font-size: 2.5rem;
  }
}

.text-M {
  color: var(--Dark-Blue);
  font-size: 1.12rem;
  font-weight: 700;
  line-height: 1.77;
  letter-spacing: -0.18px;
}

.text-S {
  color: var(--Grey);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.62;
  letter-spacing: 2.5px;

  &--upper {
    @extend .text-S;
    text-transform: uppercase;
  }
}

.text-Q {
  color: var(--Grey);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.111px;

  @media screen and (max-width: 900px) {
    font-size: 1.15rem;
  }
}

.text-B {
  color: var(--Grey);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.77;
  letter-spacing: 0.1px;

  &--bold {
    @extend .text-B;
    font-weight: 700;
  }
}

.text-F {
  color: var(--Grey);
  font-size: 0.93rem;
  font-weight: 400;
  line-height: 2.13;
}

.cream-color {
  color: var(--Cream) !important;
}
