@use "base";

.page {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  gap: 55px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 50px 0px;
  background-color: #faf8f6;
  font-family: "Epilogue", sans-serif;
}

.header {
  width: 1109px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 1150px) {
    width: 90vw;
  }
}

.main {
  width: 1109px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  flex-direction: column;

  &__review {
    z-index: 1;
  }
}

.hero {
  max-width: 100%;
  height: 600px;
  display: flex;
  gap: 96px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: url(../assets/pattern-curved-line-1.svg) no-repeat 18rem 2.85rem;

  @media screen and (max-width: 1150px) {
    width: 95vw;
    height: auto;
    justify-content: center;

    background-size: 231px 29px;
  }

  @media screen and (max-width: 700px) {
    padding-top: 30px;
    background-position: 140px 0px;
    background-size: 151.4px 19px;
  }

  &__content {
    width: 635px;

    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @media screen and (max-width: 600px) {
      gap: 32px;
    }
  }

  &__p {
    width: 21rem;
  }

  &__img {
    z-index: -1;
    margin-left: -250px;

    @media screen and (max-width: 877px) {
      margin-left: -430px;
    }

    @media screen and (max-width: 700px) {
      margin: 0;
    }
  }

  &__sub-content {
    display: flex;
    gap: 63px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @media screen and (max-width: 1050px) {
      flex-direction: row;

      justify-content: space-around;
      align-items: flex-end;
    }

    @media screen and (max-width: 400px) {
      flex-direction: column;
      align-items: flex-end;

      text-align: center;
    }
  }
}

.review {
  width: 1109px;
  height: 545px;
  display: flex;
  gap: 147px;
  justify-content: center;
  align-items: center;
  border-radius: 0.9375rem;
  background-color: var(--Dark-Blue);
  background-image: url(../assets/pattern-blur.svg),
    url(../assets/pattern-curved-line-2.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 2rem 5rem, 32.33rem 10.07rem;
  color: var(--Cream);
  padding: 88px 125px;
  z-index: 1;

  @media screen and (max-width: 900px) {
    width: 689px;
    height: 684px;
    flex-direction: column;
    gap: 117px;
    background-position: 50% -150%, 50% 40%;
    padding: 335px 58px;
  }

  @media screen and (max-width: 690px) {
    width: 100vw;
    padding: 426px 16px;
  }

  &__img {
    @media screen and (max-width: 900px) {
      margin-top: -15rem;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    @media screen and (max-width: 900px) {
      text-align: center;
    }
  }
}

.footer {
  width: 100vw;
  height: 29rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 72px 167px;
  background-color: var(--Cream);
  margin-top: -17rem;

  @media screen and (max-width: 1050px) {
    padding: 72px 78px;
  }

  @media screen and (max-width: 550px) {
    padding: 80px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 33px;
  }

  &__icon-box {
    width: 7.25rem;
    height: 1.25rem;
    display: flex;
    justify-content: space-between;
  }

  &__icon:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

.btn {
  width: 219px;
  height: 56px;
  padding: 12px 24px;

  &--primary {
    @extend .btn;
    border-radius: 6px;
    border: none;
    background: var(--Dark-Blue);
    color: var(--Cream-White);

    &:hover,
    &:focus {
      cursor: pointer;
      background: linear-gradient(
        135deg,
        #a060ff 0%,
        #cb30e3 49.21%,
        #ffa84e 100%
      );
    }
  }

  &--secondary {
    @extend .btn;
    border-radius: 6px;
    border: 1px solid var(--Dark-Blue);
    background: transparent;

    &:hover,
    &:focus {
      cursor: pointer;
      background: var(--Dark-Blue);
      color: var(--Cream-White);
    }
  }
}
